#porto-h1{
    margin:5rem 0 3rem 0;
    text-align: center;
    font-size: 1.7rem;
}

.portfolio__container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    text-align: center;
    max-width: 100%;
}

.portfolio__container:hover{
    background: transparent; 
    border-color: red;
    cursor: default;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    height: fit-content;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}



.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background:transparent;
    /* transform: scale(1.5); */
    transition: transform .5s ease-in-out; 

}

.portfolio__item h3{
    margin: .5rem 0 1rem;
}


.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.portfolio__item-image{
    max-width: fit-content;
    /* height: 50vh; */
    overflow: hidden;
    margin: 0 auto;
}
.portfolio__item-image:hover{
     transform: scale(1.5);
    transition: transform .5s ease-in-out; 
}

.btn-mid{
    margin: 0 auto 0;
}

.hover-preview-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

/* Tombol */
.preview-btn {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  background: #6c63ff;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

/* Window kecil */
.hover-preview-window {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  background: #848484;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);

  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
  z-index: 10;
}

/* Gambar GIF */
.hover-preview-window img {
  width: 100%;
  border-radius: 8px;
}

/* Hover trigger */
.hover-preview-wrapper:hover .hover-preview-window {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-6px);
}

/* Responsive for medium devices */
@media screen and (max-width: 1024px){
    .portfolio__container{
        gap: 1.2rem;
        grid-template-columns: repeat(2, 1fr);
    }
    p{
        font-size: smaller; 
    }
    .portfolio__item h3{
        font-size: smaller;
    }
    .portfolio__item-image:hover{
        transform: scale(1.3);
    }
    .hover-preview-window { 
        width: 300px;    
    }
}

/* Responsive for small devices */
@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    #porto-h1{
        font-size: 1.3rem;
    }
     .hover-preview-window { 
        width: 250px;    
    }
}