header{
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
    display: flex;
    position:relative;
    justify-content: space-between;
}

.header__container{
    height: 100%;
    position: relative;
    justify-content: space-between;
}

header h5{
    font-size: 2em;
}
/* === CTA === */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.3rem; 
}

/* === HEADER SOCIALS=== */
.header__socials{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    left: 0;
    top:2.5rem;

}

.header__socials::before{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}



/* === ME === */
.me{
    /* background: linear-gradient(var(--color-primary),transparent); */
    width: 35rem;
    height: 23rem;
    position: absolute;
    left: 90%;
    bottom: 2%;
    transform: translateX(-50%);
    filter:brightness(.89);
}

.scroll__down{
    position: absolute;
    right: -10rem;
    bottom: 6rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
}

.chat-me-scroll{
    opacity: .6;
    position: fixed;
    bottom: 15px;
    right: 28px;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background: var(--color-bg-variant);
    transition: var(--transition);
    color: transparent; 
    cursor: pointer;
}

.chat-me-scroll:hover{    
    padding: 17px 30px;
    width: 168px;
    color: var(--color-primary);
}

.cms-text{
    transition-delay: 2ms;
}

/* Responsive for medium devices */
@media screen and (max-width: 1024px){
    header{
        height:100vh;
    }
    
    .chat-me-scroll{
        display: none;
    }
    .me{
        /* width:; */
        position: relative;
        /* display:contents; */

    }
}

@media screen and (max-width: 830px){
    header{
        height:100%; 
    }
    
    .chat-me-scroll{
        display: none;
    }
    .me{
        position: relative;
         display:inline-block; 
        margin: 10rem -50% 5rem -40%;
    }
}

/* Responsive for small devices */
@media screen and (max-width: 600px){

    .header{
        height:100vh;
            
    }
    .header__socials, 
    .scroll__down{
        display: none;          
    }
    .me{
        max-width: 100%;
        position: relative;
        margin-top: 25rem;  
        margin-bottom: -8rem; 
    }
    .chat-me-scroll{
        display: none;
    }
   

}
